@use 'colors_fonts';

html {
  background-color: colors_fonts.$bg1;
}

body {
  background-color: colors_fonts.$bg;
  padding: 0px;
  margin: 0px;
  height:2000px;
}

.header_main_menu {
  width: 100%;
  height: 90px;

  background-color: colors_fonts.$bg1;

  font-family: ArchivoBlack;
  font-size: 40px;
  color: colors_fonts.$title;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.button_holder{
  width: 100%;
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  // gap: 20px;
}

.button_holder button {
  width: 150px;
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;

  background-color: colors_fonts.$bg2;
  color: colors_fonts.$subtitle;

  font-family: UbuntuMono;
  font-size: 18px;

  border: none;
  border-style: none solid solid solid;
  border-color: colors_fonts.$bg1;

  border-width: 2px;
  border-radius: 0px 0px 5px 5px;
}

.button_holder button:hover {
  cursor: pointer;
  color: colors_fonts.$highlight;
  font-weight: 600;
}

.main_container {
  //width: 100%;
  margin-top: 30px;

  margin-left: 20%;
  margin-right: 20%;

  font-size: 18px;
  font-family: KantumruyPro;
  color: colors_fonts.$maintext; 
  
  text-align: justify;
  text-justify: inter-word;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.acc {
  font-weight: 600;
  // color: colors_fonts.$highlight;
  background-color: colors_fonts.$accent;
}

ul li {
  padding: 5px;
}

a {
  color: colors_fonts.$maintext;
  text-decoration: none;
}
