@use 'colors_fonts';

body {
  background-color: colors_fonts.$bg0;
  padding: 0px;
  margin: 0px;
  height:2000px;
}

.header_main_menu {
  width: 100%;
  height: 100vh;

  background-color: colors_fonts.$bg1;
}
