$bg0: #F3EAD3;
$bg1: #EAE4CA;
$bg2: #E5DFC5;

$fg: #5C6A72;

$green_light: #93B259;
$green: #8DA101;


@font-face {
  font-family: Cabin;
  src: url(../fonts/Cabin/Cabin.ttf);
}

@font-face {
  font-family: Righteous;
  src: url(../fonts/Righteous/Righteous-Regular.ttf);
}

@font-face {
  font-family: ArchivoBlack;
  src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf);
}
